# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.env

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Distribution / Build
build/
dist/
*.egg-info/

# Project Specific
src/quotes/
*.log
